.index-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 400px;
  h1 {
    margin: 0;
  }
}

.players-table {
  margin: 40px 0;
  border: dotted 1px rgb(255,255,255);
  img {
    border-radius: 50%;
  }
  td {
    padding: 10px 20px;
  }
  tr {
    border: dotted 1px rgb(255,255,255);
  }
}
