<div class="battle-navbar">
  <div class="navbar-left-content">
    <%= image_tag 'ring.png', class: 'logo' %>
  </div>
  <div class="navbar-right-content">
    <p><%= link_to 'Manage players', players_path %></p>
    <p><%= link_to 'All battles', battles_path %></p>
    <p><%= link_to 'Player stats', '#' %></p>
  </div>
</div>
