<div class="battle-navbar">
  <div class="navbar-left-content">
    <%= link_to root_path do %>
      <%= image_tag 'ring.png', class: 'logo' %>
    <% end %>
  </div>
  <div class="navbar-right-content">
    <p><%= link_to 'All players', players_path %></p>
    <p><%= link_to 'All battles', battles_path %></p>
  </div>
</div>
